*{
    font-family: Georgia, 'Times New Roman', Times, serif;  
    }
    h1{
        font-family: 'Merriweather', sans-serif;
        text-align: center;
        font-size: 40px;
    }
    
    .color-principal {
        color: teal;
    }
    .colorsecundario {
        color: gray;
    }
    
    .flex-container {
        display: flex;
        flex-direction: column;
    }
    #nav-bar {
        text-align: right;
    }
    .footer {
        text-align: center;
        display: flex;
        flex-direction: column;
    }
    /* No se debería tocar el estilo de clases de una herramienta de terceros porque termina afectando cómo funcionan en todos lados y por lo general se estropean */
    /* .fa-facebook {
        background: teal;
        color: white;
        border-radius: 120px;
    }
    .fa-linkedin {
        background: solid teal;
        color: teal;
        border-radius: 120px;
    }
    .fa-envelope {
        background-color: teal;
        font-size: 12px;
        border-radius: 120px;
    } */
    
    
    .icon-div {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    
    /* Esto lo comenté porque preferí modificar como está estructurado el html. 
        Por las dudas te aclaro la diferencia entre padding y margin: 
        * El padding es relleno dentro del elemento (por ejemplo, si el elemento tiene un fondo de color rosa y se le agrega un padding, el padding va a tener el color rosa tambien porque es relleno del componente 
        * El margin en cambio es un margen respecto de los otros elementos (en el mismo ejemplo de arriba, el fondo de color rosa solo queda dentro del elemento y en el margen no se aplica
    .icon-div a {
        padding: 2em;
    } */
    
    
    /* Esto lo comenté porque reemplace la imagen de github por el icono de github de fontawesome
    .icon-div img {
        height: 2em;
        border-radius: 120px;
    } */
    
    .Form {
        text-align: center;
    }
    /* Esta es la clase que arma los botones circulares */
    .boton-circular {
        /* Acá definimos el color del fondo teal */
        background-color: teal;
        /* Acá definimos el color de la letra blanco (fontawesome se maneja como si fuera una fuente de letra tipo Comics Sans) */
        color: white;
        /* Esto define que el elemento va a ser un cuadrado de bloque (nunca supe exactamente lo que hace, siempre voy probando entre block, flex, inline-block, inline-flex xd */
        display: block;
        /* Esto define el ancho del elemento en 2.7rem (los rem son una unidad que toma en cuenta el tamaño de la letra, font-size; del elemento raiz) */
        width: 2.7rem;
        /* Esto define el alto del elemento en 2.7rem */
        height: 2.7rem;
        /* Esto define que los bordes del elemento tengan un radio de %50, básicamente lo hace redondeado */
        border-radius: 50%;
        /* Esta propiedad define el tamaño de la letra (también afecta al icono de fontawesome y le cambia el tamaño)*/
        font-size: 1.2rem;
        /* Esto establece la altura entre las líneas (no sé bien a que se refiere con eso, en este caso ayuda a centrar verticalmente) */
        line-height: 2.7rem;
        /* Esto centra el ícono del elemento */
        text-align: center;
        /* Esto le indica el margen que tiene el elemento respecto de otros elementos */
        margin: 10px;
    }