.projects-section {

}

.projects {
	width: 100%;
}

.project {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: calc(100% / 3 - (0.75em * 2));
	margin: 0.75em;
	border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 20px;
    overflow: hidden;
}

.project:hover {
	color: var(--primary-color);
	border-color: var(--primary-color);
}

.project-thumb {
	
}

.project-name {
	font-weight: 600;
	margin-top: 20px;
}